<div class="container text-center">

<h1> Über uns </h1>

<p> Das ist alles nur ein Hobbyprojekt zur Zeit und werde des einfach mal bissl mit Text füllen.
Außerdem macht der Martin nix spannendes sondern sagt: Was?
nun ´hat der die letzte zeile gelöscht und möchte nicht dass ich schreibe, dass er gelacht hat wie ein
kleiner BUB oder wie er gesagt hat wie ein PommesPanzer</p>

</div>